*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    padding: 20px;
    color: #fff;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}
.inputbox{
    margin: 40px 0px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.inputbox input{
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 14px 20px;
    margin-right: 20px;
    position: relative;
}
.inputbox button{
    outline: none;
    border: none;
    background: #ffff76;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}
/*.inputbox input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100%);
    background-size: 30px;
    cursor: pointer;
}*/
#info{
    font-size: 20px;
}
#info span{
    color: #ffff76;
}